@page
@using PhoBo.Models
@model PhoBo.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.User) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td id="user-@item.Id-role">
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.AntiForgeryToken()
                <div>
                    @if (item.Role.Equals(UserRole.PendingPhotographer))
                    {
                        <button data-action="Accept" data-id="@item.Id" class="booking-button btn btn-primary">Accept</button>
                    }
                </div>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(".booking-button").click(function() {
            let _this = $(this);
            let id = _this.data("id");
            let action = _this.data("action");
            let token = $('input[name="__RequestVerificationToken"]').val();

            console.log(`?handler=${action}`);

            $.ajax({
                url: `?handler=${action}`,
                headers: {"RequestVerificationToken": token},
                type: "POST",
                data: { id: id },
                success: function(response) {
                    if (response.result == "OK") {
                        _this.parent().remove();
                        $(`#user-${id}-role`).html(response.value);
                    } else {
                        console.log(response.value);
                    }
                }
            });
        });
    </script>
}
