@page
@using PhoBo.Models
@model PhoBo.Pages.Bookings.IndexModel
@{
    User user = Model.currentUser;  
}

<link rel="stylesheet" type="text/css" href="~/css/booking-rate.css"/>

<h1>Booking history</h1>

<table class="table">
    <thead>
        <tr>
            @if (@user.Role.Equals(UserRole.Photographer))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Booking[0].Customer)
                </th>
            }
            else if (@user.Role.Equals(UserRole.Customer))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Booking[0].Photographer)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Concept)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].BookingRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].State)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Booking)
        {
            if 
            (
                @user.Role.Equals(UserRole.Photographer) && item.PhotographerId == @user.Id
                || @user.Role.Equals(UserRole.Customer) && item.CustomerId == @user.Id
            )
            {
                <tr>
                    @if (@user.Role.Equals(UserRole.Photographer))
                    {
                        <td>
                            <a asp-page="../Users/Details" asp-route-id="@item.CustomerId">@item.Customer.Name</a>
                        </td>
                    }
                    else if (@user.Role.Equals(UserRole.Customer))
                    {
                        <td>
                            <a asp-page="../Users/Details" asp-route-id="@item.PhotographerId">@item.Photographer.Name</a>
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.Concept.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookingDate)
                    </td>
                    <td>
            
                        @if(item.State.Equals(BookingState.Accepted))
                        {
                            @if (user.Role.Equals(UserRole.Customer))
                            {
                                <form method="post" asp-page-handler="rate" asp-route-id="@item.Id" id="rate-form-@item.Id">
                                    <div class="full-star">
                                        <div class="rating-group" @(item.BookingRate > 0 ? "disabled": "")>
                                            
                                            <input @(item.BookingRate == 0 ? "checked": "") class="rating__input rating__input--none" name="rate" id="rating-none-@item.Id" value="0" type="radio">
                                            <label aria-label="1 star" class="rating__label" for="rating-1-@item.Id"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                            <input @(item.BookingRate == 1 ? "checked": "") @(item.BookingRate > 0 ? "disabled": "") class="rating__input" name="rate" id="rating-1-@item.Id" value="1" type="radio" data-id="@item.Id">
                                            <label aria-label="2 stars" class="rating__label" for="rating-2-@item.Id"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                            <input @(item.BookingRate == 2 ? "checked": "") @(item.BookingRate > 0 ? "disabled": "") class="rating__input" name="rate" id="rating-2-@item.Id" value="2" type="radio" data-id="@item.Id">
                                            <label aria-label="3 stars" class="rating__label" for="rating-3-@item.Id"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                            <input @(item.BookingRate == 3 ? "checked": "") @(item.BookingRate > 0 ? "disabled": "") class="rating__input" name="rate" id="rating-3-@item.Id" value="3" type="radio" data-id="@item.Id">
                                            <label aria-label="4 stars" class="rating__label" for="rating-4-@item.Id"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                            <input @(item.BookingRate == 4 ? "checked": "") @(item.BookingRate > 0 ? "disabled": "") class="rating__input" name="rate" id="rating-4-@item.Id" value="4" type="radio" data-id="@item.Id">
                                            <label aria-label="5 stars" class="rating__label" for="rating-5-@item.Id"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                            <input @(item.BookingRate == 5 ? "checked": "") @(item.BookingRate > 0 ? "disabled": "") class="rating__input" name="rate" id="rating-5-@item.Id" value="5" type="radio" data-id="@item.Id">
                                        </div>
                                    </div>

        @*                           <div class="full-star">
                                        <div class="rating-group">
                                            <input checked class="rating__input rating__input--none" asp-for="@item.BookingRate" value="0" type="radio">
                                            <label aria-label="1 star" class="rating__label" asp-for="@item.BookingRate"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                            <input class="rating__input" asp-for="@item.BookingRate" value="1" type="radio">
                                            <label aria-label="2 stars" class="rating__label" asp-for="@item.BookingRate"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                            <input class="rating__input" asp-for="@item.BookingRate" value="2" type="text">
                                            <label aria-label="3 stars" class="rating__label" asp-for="@item.BookingRate"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                            <input class="rating__input" asp-for="@item.BookingRate" value="3" type="radio">
                                            <label aria-label="4 stars" class="rating__label" asp-for="@item.BookingRate"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                            <input class="rating__input" asp-for="@item.BookingRate" value="4" type="radio">
                                            <label aria-label="5 stars" class="rating__label" asp-for="@item.BookingRate"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                            <input class="rating__input" asp-for="@item.BookingRate" value="5" type="radio">
                                        </div>
                                    </div>*@
                                </form>
                            }
                            else if (user.Role.Equals(UserRole.Photographer))
                            {
                                <div class="full-star">
                                    <div class="rating-group" disabled>
                                        <input @(item.BookingRate == 0 ? "checked": "") class="rating__input rating__input--none" name="rating-@item.Id" id="rating-none-@item.Id" value="0" type="radio">
                                        <label aria-label="1 star" class="rating__label" for="rating-1-@item.Id"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                        <input @(item.BookingRate == 1 ? "checked": "") disabled class="rating__input" name="rating-@item.Id" id="rating-1-@item.Id" value="1" type="radio" data-id="@item.Id">
                                        <label aria-label="2 stars" class="rating__label" for="rating-2-@item.Id"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                        <input @(item.BookingRate == 2 ? "checked": "") disabled class="rating__input" name="rating-@item.Id" id="rating-2-@item.Id" value="2" type="radio" data-id="@item.Id">
                                        <label aria-label="3 stars" class="rating__label" for="rating-3-@item.Id"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                        <input @(item.BookingRate == 3 ? "checked": "") disabled class="rating__input" name="rating-@item.Id" id="rating-3-@item.Id" value="3" type="radio" data-id="@item.Id">
                                        <label aria-label="4 stars" class="rating__label" for="rating-4-@item.Id"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                        <input @(item.BookingRate == 4 ? "checked": "") disabled class="rating__input" name="rating-@item.Id" id="rating-4-@item.Id" value="4" type="radio" data-id="@item.Id">
                                        <label aria-label="5 stars" class="rating__label" for="rating-5-@item.Id"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                        <input @(item.BookingRate == 5 ? "checked": "") disabled class="rating__input" name="rating-@item.Id" id="rating-5-@item.Id" value="5" type="radio" data-id="@item.Id">
                                    </div>
                                </div>
                            }

                }
                        @*@Html.DisplayFor(modelItem => item.BookingRate)*@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>
                    <td id="booking-@item.Id-state">
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @*<a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>*@
                        @Html.AntiForgeryToken()
                        <div>
                            @if(item.State.Equals(BookingState.Waiting))
                            {
                                @if(user.Role.Equals(UserRole.Photographer))
                                {
                                    <button data-action="Accept" data-id="@item.Id" class="booking-button btn btn-primary">Accept</button>
                                    <button data-action="Decline" data-id="@item.Id" class="booking-button btn btn-danger">Decline</button>
                                }
                                else if(user.Role.Equals(UserRole.Customer))
                                {  
                                    <button data-action="Cancel" data-id="@item.Id" class="booking-button btn btn-danger">Cancel</button>
                                }
                            }
                            
                            @if (item.State.Equals(BookingState.Accepted) && user.Role.Equals(UserRole.Customer) && item.BookingRate == 0)
                            {
                                <button data-action="Rate" data-id="@item.Id" class="rate-button btn btn-warning">Rate</button>
                            }
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(".booking-button").click(function() {
            let _this = $(this);
            let id = _this.data("id");
            let action = _this.data("action");
            let token = $('input[name="__RequestVerificationToken"]').val();

            console.log(`?handler=${action}`);

            $.ajax({
                url: `?handler=${action}`,
                headers: {"RequestVerificationToken": token},
                type: "POST",
                data: { id: id },
                success: function(response) {
                    if (response.result == "OK") {
                        _this.parent().remove();
                        $(`#booking-${id}-state`).html(response.value);
                    } else {
                        console.log(response.value);
                    }
                }
            });
        });

        $(".rate-button").click(function() {
            _this = $(this);
            $("#rate-form-" + _this.data("id")).trigger("submit");
        })
    </script>
}
